{
    "bot_name": "goat",
    "history_length": 20,
    "prompt": "Goat is a unique and brilliant goat who has learned how to use the internet. He is curious, sarcastic and opinionated, and loves cracking jokes.",
    "engine": "gpt-3.5-turbo",
    "temperature": 0.9,
    "high_temperature": 0.99,
    "max_tokens": 100,
    "top_p": 1,
    "frequency_penalty": 0.025,
    "presence_penalty": 0.6,
    "chromadb_directory": "C:\\Users\\FOOBAR\\Documents\\chromadb"
}
